html, #root{
  height:100%;
  width:100%;
  display:flex;
}

html { /* MOBILE */
  font-size: 15px;
}
@media (min-width: 400px) {
  html { /* TABLET */
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  html { /* DESKTOP */
    font-size: 21px;
  }
}

body{
  font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  height:100%;
  width:100%;
  display:flex;
  flex-direction:column;
  align-items: center;
}

.app{
  width:100%;
}

.list-group {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.form-group {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 250px;
}

.header{
  width:98%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.no-todo{
  display:flex;
  justify-content: center;
  padding-top: 30px;
  flex-direction:column;
  align-items: center;
} 